<app-menu></app-menu>

<div class="spacing">
    <div class="row">
        <div class="col-md-6  texto-voluntarios">
            <h1 class="card-title text-purple">Campeonato de Xadrez</h1>
            <p> Organizado pelas Atléticas Octacore e Matemaníacos, fruto de uma parceria com a SECOMP
            </p>
            <p>

            <p>
            O campeonato irá acontecer durante a SECOMP, na sexta-feira (25), no Instituto de Computação, às 15:30.
            Alunos de computação e de matemática podem participar, porém as vagas são limitadas.

            Para aqueles que desejam aprender, temos o <a href="https://doity.com.br/workshop-de-xadrez">workshop de xadrez</a>
            </p>

            <a href="https://doity.com.br/campeonato-de-xadrez-secomp" class="btn-purple btn text-white subscribe-button">
            Inscreva-se aqui
            </a>
        </div>

        <div class="col-md-6">
            <img class="insta-img"src="assets/images/xadrez.jpeg">
        </div>
    </div>
</div>

<app-footer></app-footer>