.card-title{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.spacing{
    margin-top: 5rem;
}

.form-voluntarios{
    padding: 25px;
    box-shadow: 0.1em 0.2em 1em #d7d7d79e;
}