<app-menu></app-menu>

<div class="spacing">
  <div class="row">
      <div class="col-md-6  texto-voluntarios">
          <h1 class="card-title text-purple">Deixe sua marca na <br>Secomp 2022</h1>
          <p>Ser voluntário na Secomp é uma oportunidade imperdível de fortalecer suas habilidades
            interpessoais e fazer networking, além de contribuir com a comunidade acadêmica. 
          </p>
          <p>
            Nesta edição, as atuações dos voluntários serão definidas conforme as necessidades a 
            serem atendidas. Todos os envios serão recebidos, priorizando aqueles que enviaram
            primeiro. Além disso, todo voluntário tem direito a um certificado com carga horária.
          </p>
          <p>
            Em até 7 dias após a inscrição, enviamos e-mail aos selecionados. 
            Faremos uma segunda chamada com as vagas remanescentes dos candidatos que não 
            confirmaram suas inscrições.
          </p>
      </div>

      <div class="col-md-6">
        <div class="card form-voluntarios">
          <div class="card-header text-center p-2"> 
            Formulário - Seja voluntário
          </div>

          <div 
          class="alert alert-success text-center" 
          role="alert"
          *ngIf="postMessage.message ==  'Formulário enviado com sucesso'
          || success == true "
          >
            Envio feito com sucesso. Obrigado! 
          </div>
          
          <div 
          class="alert alert-danger text-center" 
          role="alert"
          *ngIf="postMessage.message ==  'Algo deu errado. Tente novamente.'"
          >
            {{ postMessage.message }}
          </div>

          <div 
            class="card-body"
            *ngIf="postMessage.message == ' ' ||
            postMessage.message == 'Algo deu errado. Tente novamente.'"
          >
            <form class="form-horizontal" [formGroup]="formGroup">
              <div class="col-md-12 mb-2">
                <secomp-input
                  [formGroup]="formGroup"
                  [label]="'*Nome: '"
                  controlName="nome"
                  required
                >
                </secomp-input>
                <div
                *ngIf="formGroup.controls['nome'].invalid && (formGroup.controls['nome'].dirty ||
                 formGroup.controls['nome'].touched)"
                class="invalid-feedback d-block"
                >
                Campo obrigatório
                </div>
              </div>

              <div class="col-md-12 mb-2">
                <secomp-input
                  [formGroup]="formGroup"
                  [label]="'*Curso: '"
                  controlName="curso"
                  required
                >
                </secomp-input>
                <div
                *ngIf="formGroup.controls['curso'].invalid && (formGroup.controls['curso'].dirty ||
                formGroup.controls['curso'].touched)"
                class="invalid-feedback d-block"
                >
                Campo obrigatório
                </div>
              </div>

              <div class="col-md-12 mb-2">
                <secomp-input
                  [formGroup]="formGroup"
                  [label]="'*E-mail: '"
                  controlName="email"
                  required
                >
                </secomp-input>
                <div
                *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty ||
                formGroup.controls['email'].touched)"
                class="invalid-feedback d-block"
                >
                Campo obrigatório
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <secomp-input
                  [formGroup]="formGroup"
                  [label]="'*Número de contato: '"
                  controlName="numero"
                  required

                >
                </secomp-input>
                <div
                *ngIf="formGroup.controls['numero'].invalid && (formGroup.controls['numero'].dirty ||
                formGroup.controls['numero'].touched)"
                class="invalid-feedback d-block"
                >
                Campo obrigatório
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-green w-100 text-white mt-4 material-button"
                (click)="submit(formGroup.value)"
                [disabled]="!formGroup.valid"
              >Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="mobile-form">
  <div class="card form-voluntarios-mobile">
    <div class="card-header text-center p-2"> 
      Seja voluntário
    </div>
    <div class="card-body">
      <form class="form-horizontal" [formGroup]="formGroup">
        <div class="col-md-12 mb-2">
          <secomp-input
            [formGroup]="formGroup"
            [label]="'*Nome: '"
            controlName="nome"
            required
          >
          </secomp-input>
          <div
          *ngIf="formGroup.controls['nome'].invalid && (formGroup.controls['nome'].dirty ||
           formGroup.controls['nome'].touched)"
          class="invalid-feedback d-block"
          >
          Campo obrigatório
          </div>
        </div>

        <div class="col-md-12 mb-2">
          <secomp-input
            [formGroup]="formGroup"
            [label]="'*Curso: '"
            controlName="curso"
            required
          >
          </secomp-input>
          <div
          *ngIf="formGroup.controls['curso'].invalid && (formGroup.controls['curso'].dirty ||
          formGroup.controls['curso'].touched)"
          class="invalid-feedback d-block"
          >
          Campo obrigatório
          </div>
        </div>

        <div class="col-md-12 mb-2">
          <secomp-input
            [formGroup]="formGroup"
            [label]="'*E-mail: '"
            controlName="email"
            required
          >
          </secomp-input>
          <div
          *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty ||
          formGroup.controls['email'].touched)"
          class="invalid-feedback d-block"
          >
          Campo obrigatório
          </div>
        </div>

        <div class="col-md-6 mb-2">
          <secomp-input
            [formGroup]="formGroup"
            [label]="'*Número de contato: '"
            controlName="numero"
            required

          >
          </secomp-input>
          <div
          *ngIf="formGroup.controls['numero'].invalid && (formGroup.controls['numero'].dirty ||
          formGroup.controls['numero'].touched)"
          class="invalid-feedback d-block"
          >
          Campo obrigatório
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-green w-100 text-white mt-4 material-button"
          (click)="submit(formGroup.value)"
          [disabled]="!formGroup.valid"
        >Enviar
        </button>
      </form>
    </div>
</div>
</div>
<app-footer></app-footer>