<app-menu></app-menu>

<div class="spacing">
  <div class="row">
      <div class="col-md-6">
          <h1 class="card-title text-purple">Deixe sua marca na <br>Secomp 2022</h1>
          <p>Ser voluntário na Secomp é uma oportunidade imperdível de fortalecer suas habilidades
            interpessoais e fazer networking, além de contribuir com a comunidade acadêmica. 
          </p>
          <p>
            Nesta edição, as atuações dos voluntários serão definidas conforme as necessidades a 
            serem atendidas. Todos os envios serão recebidos, priorizando aqueles que enviaram
            primeiro. 
          </p>
          <p>
            Em até 7 dias após a inscrição, enviamos e-mail aos selecionados. 
            Faremos uma segunda chamada com as vagas remanescentes dos candidatos que não 
            confirmaram suas inscrições.
          </p>
      </div>

      <div class="col-md-6">
        <div class="card form-voluntarios">
          <div class="card-header text-center p-2"> 
            Seja voluntário
          </div>
          <div class="card-body">
            <form class="form-horizontal" [formGroup]="formGroup">
              <div class="col-md-12 mb-2">
                <secomp-input
                  type="text"
                  [formGroup]="formGroup"
                  [label]="'Nome: '"
                  controlName="nome"
                >
                </secomp-input>
              </div>

              <div class="col-md-12 mb-2">
                <secomp-input
                  type="text"
                  [formGroup]="formGroup"
                  [label]="'Curso: '"
                  controlName="curso"
                >
                </secomp-input>
              </div>

              <div class="col-md-12 mb-2">
                <secomp-input
                  type="email"
                  [formGroup]="formGroup"
                  [label]="'E-mail: '"
                  controlName="email"
                >
                </secomp-input>
              </div>

              <div class="col-md-6 mb-2">
                <secomp-input
                  type="phone"
                  [formGroup]="formGroup"
                  [label]="'Número de contato: '"
                  controlName="numero"
                >
                </secomp-input>
              </div>

              <button
                type="submit"
                class="btn btn-green w-100 text-white mt-4 material-button"
                (click)="submit(formGroup.value)"
              >Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
<app-footer></app-footer>