.card-title{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.spacing{
    margin-top: 5rem;
}

.form-voluntarios{
    padding: 25px;
    box-shadow: 0.1em 0.2em 1em #d7d7d79e;
}

.card-header{
    border: none;
    background: none;
    font-size: 1.2em;
    color: #5b15b6;
    font-weight: 600;
}

.texto-voluntarios{
    font-size: .95em;
}
