<footer class="bg-green w-100">
    <div class="spacing justify-content-center">
        <div class="row">
            <div class="footer-img col-md-4">
                <img src="assets/images/secomp_23_logo.png" style="width: 150px;">
            </div>

            <div class="col-6 col-md pages">
                <h6>Páginas</h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a routerLink="/">Início</a>
                    </li>
                    <li>
                      <a routerLink="/maratona">Maratona de Programação</a>
                    </li>    
                    <!--
                    <li>
                      <a routerLink="/minicursos">Minicursos</a>
                    </li>    
                    <li>
                      <a routerLink="/congresso">Congresso SECOMP</a>
                    </li>    
                      <li>
                        <a routerLink="/xadrez">Campeonato de Xadrez</a>
                      </li>    
                    --> 
                  </ul>
            </div>

            <div class="col-6 col-md">
                <h6>Informações</h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt mr-2" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                          </svg>
                        Instituto de Computação, Universidade Federal de Alagoas.
                    </li>
                    <li class="nav-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar mr-2" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg>
                        Entre os dias 18 e 22 de setembro.
                    </li>
                  </ul>
            </div>

            <div class="col-6 col-md">
                <h6>Siga-nos</h6>
                <ul class="nav">
                    <li class="nav-item mr-3">
                      <a href="https://www.instagram.com/secomp.ufal/">
                        <img src="assets/images/instagram-icon.png" style="width: 30px;">
                      </a>
                      
                    </li>
                    <li class="nav-item">
                      <a href="https://www.youtube.com/channel/UCxiIcTRgawPwVd9pADwhBag">
                        <img src="assets/images/youtube-icon.png" style="width: 35px;">
                      </a>
                    </li>
                  </ul>
            </div>
        </div>
    </div>

    <div class="row justify-content-center
     bg-purple credits">
      <p>© 2023 – Equipe Secomp</p>
    </div>
</footer>