footer {
    font-size: .8em;
    color: #fff;
}

h6 {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 5px;
}

li a {
    color: white;
}

.credits {
    margin: 0;
    font-weight: 500;
    padding-block: 1rem;
}

.credits p {
    margin-bottom: 0px;
    text-align: center;
}

.footer-img {
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .pages {
        display: none;
    }
}