:root {
    --text-yellow: #ffbb08;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #545454;
    background-color: #f3f3f3;
}

.page {
    position: relative;
}

.material-icons {
    user-select: none;
}

.card-title {
    font-family: 'MuseoModerno';
}

.bg-purple {
    background-color: #5B15B6;
}

.bg-pink {
    background-color: #FF7E83;
}

.bg-yellow {
    background-color: #ffbb08;
}

.bg-blue {
    background-color: #1156bb;
}

.bg-green {
    background-color: #66C0A1;
}

.text-yellow {
    color: #ffbb08;
}

.text-purple {
    color: #5B15B6;
}

.text-blue {
    color: #1156bb;
}

.text-pink {
    color: #FF7E83;
}

.text-green {
    color: #66C0A1;
    ;
}

.header-title {
    font-weight: 800;
    font-size: 3em;
}

.spacing {
    padding: 2em // teste;
}

.btn-yellow {
    background-color: #ffbb08;
    border-color: #ffbb08;
}

.btn-yellow:hover {
    background-color: #e9a901;
    border-color: #e9a901;
}

.btn {
    padding-inline: 1.25rem;
    padding-block: 0.55rem;
}

.btn-white {
    background-color: #fff;
    border-color: #ffff;
    color: #5b15b5;
}

.btn-white:hover {
    background-color: #66C0A1;
    color: #fff;
}

.btn-pink {
    background-color: #FF7E83;
    border-color: #FF7E83;
}

.btn-purple {
    background-color: #5B15B6;
    border-color: #5B15B6;
}

.btn-green {
    background-color: #66C0A1;
    border-color: #66C0A1
}

.btn-green:hover {
    background-color: #5B15B6;
    border-color: #5B15B6;
}

.card {
    border: none;
}

.invalid-feedback {
    font-size: 0.8em;
    margin-top: -1em;
}

@media (min-width: 768px) {
    .spacing {
        padding: 4em;
    }
}