.minicursos {
    color: #fff;
}

.minicursos-title {
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 40px;
    font-size: 2rem;
}

.minicursos .card-title {
    font-size: 2em;
}

.minicursos .container {
    padding: 0;
}

.minicurso-card {
    width: 18rem;
    background-color: #742ece;
}

@media (max-width: 768px)
{
    .minicurso-card {
        margin-top: 3rem;
    }

    .col-sm {
        padding: 0;
    }
}