<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">Logo aqui</a>
   
    <div class="collapse navbar-collapse text-uppercase" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto  menu">
          <li class="nav-item">
            <a class="nav-link" href="#">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Inscrição</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Seja Voluntário</a>
          </li>
         
        </ul>
    </div>
</nav>
