.menu{
    font-size: .87em !important;
    background: #5b15b6;
    padding: 0.7em 4em 0.7em 4em;
    font-weight: 500;
    padding-left: 4em;
    padding-right: 4em;
    height: auto;
    z-index: 99;
    top: 0;
    left: 0;
}

.menu li a:hover{
    color:  #66C0A1!important;
}
.nav-item-active{
    border-bottom: solid 2px #66C0A1;

}