
<nav class="navbar navbar-expand-md fixed-top menu">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo-branca.png" style="width: 150px;">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Abrir menu">
      <span class="navbar-toggler-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </span>
    </button>
  
    <div class="collapse navbar-collapse text-uppercase" id="mobile-menu">
        <ul class="navbar-nav ml-auto menu">
          <li 
          class="nav-item px-2"
          [ngClass]="{'nav-item-active': page === '/'}"
          >
            <a 
            class="nav-link text-white" 
            routerLink="/">Início</a>
          </li>

          <li 
          class="nav-item px-2"
          [ngClass]="{
            'nav-item-active': page === '/sejavoluntario'
          }"
          >
            <a 
            class="nav-link text-white" 
            routerLink="/sejavoluntario"
            >Seja voluntário
            </a>
          </li>
        </ul>

    </div>   
</nav>

