
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-purple spacing">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo-branca.png" style="width: 150px;">
    </a>
  
    <div class="collapse navbar-collapse text-uppercase" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto menu">
          <li class="nav-item px-2">
            <a class="nav-link text-white" href="#">Início</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-white" href="#">Inscrição</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-white" href="#">Minicursos</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-white" href="#">SecompGames</a>
          </li>
        </ul>
    </div>   
</nav>

