<app-menu></app-menu>
<div class="spacing">
    <div class="row">
        <div class="col-md-6  texto-voluntarios">
            <h1 class="card-title text-purple">Maratona de Programação</h1>
            <p>A maratona de programação é uma competição que promove nos estudantes a criatividade, 
              a capacidade de trabalho em equipe, a busca de novas soluções de software e a habilidade de 
              resolver problemas sob pressão. Ocorre todo ano na SECOMP e é organizada pelo 
              GEMA Grupo de Extensão em Maratona de Programação, que tem como objetivo fomentar e 
              estruturar o estudo para as competições de programação. 
            </p>
            <p>
              <strong>  Requisitos para participar: </strong> <br>
              - Pelo menos um dos participantes deve possuir conta no TheHuxley <br>
              - A equipe deve ter um máximo de três participantes <br>
              - Ter vontade de resolver problemas programando!
            </p>
            <p>
              A maratona irá acontecer durante a SECOMP, na quarta feira (23/11), de 9 da manhã até o meio dia.
              Todos são bem-vindos para participar, independente do nível de experiência. Será realizada em um
              dos laboratórios do Instituto de Computação por meio da plataforma TheHuxley.
            </p>
        </div>
  
        <div class="col-md-6">
          <div class="card form-voluntarios">
            <div class="card-header text-center p-2">
              Formulário - Maratona de Programação
            </div>
  
            <div 
              class="card-body"
            >
              <form class="form-horizontal" [formGroup]="formGroup"
              *ngIf="success == false"
              >
                <div class="col-md-12 mb-2">
                  <secomp-input
                    [formGroup]="formGroup"
                    [label]="'*Nome do Time: '"
                    controlName="nome_equipe"
                    required
                  >
                  </secomp-input>
                  <div
                  *ngIf="formGroup.controls['nome_equipe'].invalid && (formGroup.controls['nome_equipe'].dirty ||
                  formGroup.controls['nome_equipe'].touched)"
                  class="invalid-feedback d-block"
                  >
                  Campo obrigatório
                  </div>
                </div>
  
                <div class="col-md-12 mb-2">
                  <secomp-input
                    [formGroup]="formGroup"
                    [label]="'*Nome do líder: '"
                    controlName="nome_lider"
                    required
                  >
                  </secomp-input>
                  <div
                  *ngIf="formGroup.controls['nome_lider'].invalid && (formGroup.controls['nome_lider'].dirty ||
                  formGroup.controls['nome_lider'].touched)"
                  class="invalid-feedback d-block"
                  >
                  Campo obrigatório
                  </div>
                </div>
  
                <div class="col-md-12 mb-2">
                  <secomp-input
                    [formGroup]="formGroup"
                    [label]="'*E-mail: '"
                    controlName="email"
                    required
                  >
                  </secomp-input>
                  <div
                  *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty ||
                  formGroup.controls['email'].touched)"
                  class="invalid-feedback d-block"
                  >
                  Campo obrigatório
                  </div>
                </div>
  
                <div class="col-md-6 mb-2">
                  <secomp-input
                    [formGroup]="formGroup"
                    [label]="'*Número de telefone do líder: '"
                    controlName="numero"
                    required
  
                  >
                  </secomp-input>
                  <div
                  *ngIf="formGroup.controls['numero'].invalid && (formGroup.controls['numero'].dirty ||
                  formGroup.controls['numero'].touched)"
                  class="invalid-feedback d-block"
                  >
                  Campo obrigatório
                  </div>
                </div>

                <div class="col-md-12 mb-2">
                  <secomp-input
                    [formGroup]="formGroup"
                    [label]="'*Nome do segundo membro da equipe: '"
                    controlName="nome2"
                  >
                  </secomp-input>
                </div>

                <div class="col-md-12 mb-2">
                  <secomp-input
                    [formGroup]="formGroup"
                    [label]="'*Nome do terceiro membro da equipe: '"
                    controlName="nome3"
                  >
                  </secomp-input>
                </div>

                <button
                type="submit"
                class="btn bg-green w-100 text-white mt-4 material-button"
                (click)="submit(formGroup.value)"
                [disabled]="!formGroup.valid"
              >Enviar
              </button>
              </form>
              <div 
              class="alert alert-success text-center mt-4" 
              role="alert"
              *ngIf="postMessage.message ==  'Formulário enviado com sucesso'"
              >
                Envio feito com sucesso. Obrigado! 
              </div>
              
              <div 
              class="alert alert-danger text-center mt-4" 
              role="alert"
              *ngIf="postMessage.message ==  'Algo deu errado. Tente novamente.'"
              >
                {{ postMessage.message }}
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>