.card-title {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.spacing {
    margin-top: 5rem;
}

.mobile-form {
    display: none;
}

.form-voluntarios {
    padding: 25px;
    box-shadow: 0.1em 0.2em 1em #d7d7d79e;
}

.card-header {
    border: none;
    background: none;
    font-size: 1.2em;
    color: #5b15b6;
    font-weight: 600;
}

.texto-voluntarios {
    font-size: .95em;
}

@media (max-width: 768px) {
    .form-voluntarios {
        display: none;
    }

    .form-voluntarios-mobile {
        padding-top: 25px;
        box-shadow: 0.1em 0.2em 1em #d7d7d79e;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 2em // teste;
    }

    .mobile-form {
        display: block;
    }

    .spacing {
        padding: 2em // teste;
    }
}