<app-menu></app-menu>

<div class="spacing">
  <div class="row">
      <div class="col-md-6  texto-voluntarios">
          <h1 class="card-title text-purple">I Congresso Secomp</h1>
          <p>A Comissão Organizadora do I Congresso de Publicações Científicas da Semana de
            Computação da UFAL torna pública a abertura para submissões de trabalhos acadêmicos
            no formato de artigo científico.
          </p>
          <p>
            Os trabalhos acadêmicos deverão se enquadrar nos seguintes eixos temáticos:<br><br>
            <span class="text-purple">
            1. Educação e STEM <br>
            2. Políticas Públicas, Sustentabilidade e Computação<br>
            3. Indústria e Computação<br>
            </span>
          </p>

          <p>
            Participe individualmente ou em equipe, não há limites de coautores. A apresentação
            do artigo será feita presencialmente, no Instituto de Computação.
          </p>

          <a href="https://drive.google.com/drive/folders/1XxYIhuB-m5QyFi2RZbl-ElL6JNq7Kl3I?usp=share_link" class="btn-purple btn text-white">
            Edital e template
          </a>
  
      </div>

      <div class="col-md-6">
        <div class="card form-voluntarios">
          <div class="card-header text-center p-2"> 
            Envie seu artigo
          </div>

          <div 
            class="card-body"
          >
            <form class="form-horizontal" [formGroup]="formGroup"
            *ngIf="success == false"
            >
              <div class="col-md-12 mb-2">
                <secomp-input
                  [formGroup]="formGroup"
                  [label]="'*Autor principal: '"
                  controlName="nome"
                  required
                >
                </secomp-input>
                <div
                *ngIf="formGroup.controls['nome'].invalid && (formGroup.controls['nome'].dirty ||
                 formGroup.controls['nome'].touched)"
                class="invalid-feedback d-block"
                >
                Campo obrigatório
                </div>
              </div>

              <div class="col-md-12 mb-2">
                <secomp-input
                  [formGroup]="formGroup"
                  [label]="'*E-mail: '"
                  controlName="email"
                  required
                >
                </secomp-input>
                <div
                *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty ||
                formGroup.controls['email'].touched)"
                class="invalid-feedback d-block"
                >
                Campo obrigatório
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <secomp-input
                  [formGroup]="formGroup"
                  [label]="'*CPF: '"
                  controlName="numero"
                  required
                >
                </secomp-input>
                <div
                *ngIf="formGroup.controls['numero'].invalid && (formGroup.controls['numero'].dirty ||
                formGroup.controls['numero'].touched)"
                class="invalid-feedback d-block"
                >
                Campo obrigatório
                </div>
              </div>

              <div class="col-md-12 mb-2">
                <label for="formFile" class="form-label">*Artigo:</label>
                <input 
                class="form-control"
                type="file" 
                id="formFile" 
                (change)="onChangeFile($event)"
                required>
              </div>
      
              <button
              type="submit"
              class="btn bg-green w-100 text-white mt-4 material-button"
              (click)="submit(formGroup.value)"
            >Enviar
            </button>
            </form>
            <div 
            class="alert alert-success text-center mt-4" 
            role="alert"
            *ngIf="postMessage.message ==  'Formulário enviado com sucesso'"
            >
              Envio feito com sucesso. Obrigado! 
            </div>
            
            <div 
            class="alert alert-danger text-center mt-4" 
            role="alert"
            *ngIf="postMessage.message ==  'Algo deu errado. Tente novamente.'"
            >
              {{ postMessage.message }}
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="mobile-form">
  <div class="card form-voluntarios-mobile">
    <div class="card-header text-center p-2"> 
      Seja voluntário
    </div>
    <div class="card-body">
      <form class="form-horizontal" [formGroup]="formGroup" 
      *ngIf="success == false">
        <div class="col-md-12 mb-2">
          <secomp-input
            [formGroup]="formGroup"
            [label]="'*Autor principal: '"
            controlName="nome"
            required
          >
          </secomp-input>
          <div
          *ngIf="formGroup.controls['nome'].invalid && (formGroup.controls['nome'].dirty ||
           formGroup.controls['nome'].touched)"
          class="invalid-feedback d-block"
          >
          Campo obrigatório
          </div>
        </div>

        <div class="col-md-12 mb-2">
          <secomp-input
            [formGroup]="formGroup"
            [label]="'*E-mail: '"
            controlName="email"
            required
          >
          </secomp-input>
          <div
          *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty ||
          formGroup.controls['email'].touched)"
          class="invalid-feedback d-block"
          >
          Campo obrigatório
          </div>
        </div>

        <div class="col-md-6 mb-2">
          <secomp-input
            [formGroup]="formGroup"
            [label]="'*CPF: '"
            controlName="numero"
            required

          >
          </secomp-input>
          <div
          *ngIf="formGroup.controls['numero'].invalid && (formGroup.controls['numero'].dirty ||
          formGroup.controls['numero'].touched)"
          class="invalid-feedback d-block"
          >
          Campo obrigatório
          </div>
        </div>

        <div class="col-md-12 mb-2">
          <label for="formFile" class="form-label">*Artigo:</label>
          <input 
          class="form-control"
          type="file" 
          id="formFile" 
          (change)="onChangeFile($event)">

          <div
          *ngIf="formGroup.controls['artigo'].invalid && (formGroup.controls['artigo'].dirty ||
          formGroup.controls['artigo'].touched)"
          class="invalid-feedback d-block"
          >
          Campo obrigatório
          </div>
        </div>

        <button
          type="submit"
          class="btn bg-green w-100 text-white mt-4 material-button"
          (click)="submit(formGroup.value)"
          [disabled]="!formGroup.valid"
        >Enviar
        </button>
      </form>
      <div 
      class="alert alert-success text-center mt-4" 
      role="alert"
      *ngIf="postMessage.message ==  'Formulário enviado com sucesso'"
      >
        Envio feito com sucesso. Obrigado! 
      </div>
      
      <div 
      class="alert alert-danger text-center mt-4" 
      role="alert"
      *ngIf="postMessage.message ==  'Algo deu errado. Tente novamente.'"
      >
        {{ postMessage.message }}
      </div>
    </div>
</div>
</div>
<app-footer></app-footer>