<div class="page">
	<app-menu></app-menu>

	<div class="header-homepage text-white w-100 ">
		<div class="inverse-vignette"></div>
		<div class="container-fluid header-homepage-card text-center">
			<h1 class="card-title header-title">Aprender. Programar. Evoluir.</h1>
			<p class="card-text">
				A Liga Acadêmica de Computação realiza a sexta edição da SECOMP, um evento gratuito que promove a
				integração e a troca de conhecimento entre a comunidade de tecnologia de Alagoas.
			</p>
			<a class="btn btn-white" href="/inscricao" role="button">
				Quero me inscrever!
			</a>
		</div>
	</div>

	<div class="card container-fluid homepage-info-card">
		<div class="card-group text-center justify-content-center">
			<div class="card">
				<span class="material-icons md-21 py-1 text-green">confirmation_number</span>
				<div class="card-body">
					<h5 class="card-title card-info-title">Evento gratuito</h5>
					<p class="card-text">3 dias de evento, com palestras, minicursos, jogos, e tudo
						isso sem
						cobrar nada!</p>
				</div>
			</div>
			<div class="card">
				<span class="material-icons md-21 py-1 text-green">location_on</span>
				<div class="card-body">
					<h5 class="card-title card-info-title">Onde será?</h5>
					<p class="card-text">Instituto de Computação, Universidade Federal de Alagoas.</p>
				</div>
			</div>
			<div class="card">
				<span class="material-icons md-21 py-1 text-green">calendar_month</span>
				<div class="card-body">
					<h5 class="card-title card-info-title">Data e horários</h5>
					<p class="card-text">Entre os dias 06/11 e 08/11, durante as manhãs e tardes.</p>
				</div>
			</div>
		</div>
	</div>

	<section style="display: flex; align-items: center; justify-content: center; margin-block: 100px">
		<div class="spacing about">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card-body">
						<h5 class="card-title about-title text-purple">O maior evento acadêmico de tecnologia de Alagoas
						</h5>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card-body">
						<p class="card-text w-75 about-subtitle">
							A Secomp é um evento que conecta líderes e profissionais inovadores para troca de
							conhecimento e networking.
							De 6 a 8 de novembro, recebemos grandes nomes da tecnologia de Alagoas para compartilhar
							ideias e discutir
							as principais tendências do setor. Venha participar dessa experiência!
						</p>
						<a class="btn btn-green text-white" href="/inscricao" role="button">
							Quero me inscrever!
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="events-holder justify-content-center align-items-center flex-column spacing"
		style="display: flex; width: 100%; margin-bottom: 150px;">
		<h5 class="card-title about-title text-purple">Maratonas e Campeonatos</h5>

		<div class="holder">
			<div class="event-card">
				<div class="header-holder">
					<div class="vignette"></div>
					<img src="assets\images\activities\maratona_programacao.jpeg">
				</div>
				<div class="separator"></div>
				<div class="info">
					<h5 class="title">Maratona de Programação</h5>
					<p class="card-text">A Maratona de Programação é um evento que visa promover o
						aperfeiçoamento dos alunos de computação e áreas afins, através da resolução de problemas
						algorítmicos. <br> <br>
						Junte sua equipe e participe!
					</p>

					<a class="btn btn-white purple" href="https://forms.gle/1rFkZoyMY4rJ7pZh9" role="button">
						Formulário de Inscrição
						<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M8.06366 6.3999C7.42101 6.3999 6.90002 6.92089 6.90002 7.56354V18.0363C6.90002 18.6789 7.42101 19.1999 8.06366 19.1999H18.5364C19.1791 19.1999 19.7 18.6789 19.7 18.0363V13.9635C19.7 13.6422 19.4395 13.3817 19.1182 13.3817C18.7969 13.3817 18.5364 13.6422 18.5364 13.9635V18.0363H8.06366V7.56354H12.1364C12.4577 7.56354 12.7182 7.30305 12.7182 6.98172C12.7182 6.66039 12.4577 6.3999 12.1364 6.3999H8.06366ZM19.5297 6.57032C19.5854 6.6261 19.6275 6.69039 19.6559 6.75901C19.6839 6.8266 19.6996 6.90062 19.7 6.97823V6.98172V10.4726C19.7 10.794 19.4395 11.0544 19.1182 11.0544C18.7969 11.0544 18.5364 10.794 18.5364 10.4726V8.38636L12.5478 14.3749C12.3206 14.6022 11.9522 14.6022 11.725 14.3749C11.4978 14.1477 11.4978 13.7793 11.725 13.5521L17.7136 7.56354H15.6273C15.306 7.56354 15.0455 7.30305 15.0455 6.98172C15.0455 6.66039 15.306 6.3999 15.6273 6.3999H19.1181C19.197 6.3999 19.2723 6.4156 19.3409 6.44405C19.4096 6.47244 19.4738 6.51453 19.5297 6.57032Z"
								fill="#5B15B5" />
						</svg>
					</a>
				</div>
			</div>

			<div class="event-card">
				<div class="header-holder">
					<div class="vignette"></div>
					<img src="assets\images\activities\campeonato-xadrez.jpeg">
				</div>
				<div class="separator"></div>
				<div class="info">
					<h5 class="title">
						Campeonato de Xadrez</h5>
					<p class="card-text">
						O IChess, grupo de extensão de xadrez do Instituto de Computação, promove mais um campeonato de
						xadrez durante a SECOMP. <br> <br>
						Participe e mostre suas habilidades!
					</p>

					<a class="btn btn-white purple" href="9" role="button">
						Formulário de Inscrição
						<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M8.06366 6.3999C7.42101 6.3999 6.90002 6.92089 6.90002 7.56354V18.0363C6.90002 18.6789 7.42101 19.1999 8.06366 19.1999H18.5364C19.1791 19.1999 19.7 18.6789 19.7 18.0363V13.9635C19.7 13.6422 19.4395 13.3817 19.1182 13.3817C18.7969 13.3817 18.5364 13.6422 18.5364 13.9635V18.0363H8.06366V7.56354H12.1364C12.4577 7.56354 12.7182 7.30305 12.7182 6.98172C12.7182 6.66039 12.4577 6.3999 12.1364 6.3999H8.06366ZM19.5297 6.57032C19.5854 6.6261 19.6275 6.69039 19.6559 6.75901C19.6839 6.8266 19.6996 6.90062 19.7 6.97823V6.98172V10.4726C19.7 10.794 19.4395 11.0544 19.1182 11.0544C18.7969 11.0544 18.5364 10.794 18.5364 10.4726V8.38636L12.5478 14.3749C12.3206 14.6022 11.9522 14.6022 11.725 14.3749C11.4978 14.1477 11.4978 13.7793 11.725 13.5521L17.7136 7.56354H15.6273C15.306 7.56354 15.0455 7.30305 15.0455 6.98172C15.0455 6.66039 15.306 6.3999 15.6273 6.3999H19.1181C19.197 6.3999 19.2723 6.4156 19.3409 6.44405C19.4096 6.47244 19.4738 6.51453 19.5297 6.57032Z"
								fill="#5B15B5" />
						</svg>
					</a>
				</div>
			</div>

			<div class="event-card">
				<div class="header-holder">
					<div class="vignette"></div>
					<img src="assets\images\activities\campeonato-cartas.jpeg">
				</div>
				<div class="separator"></div>
				<div class="info">
					<h5 class="title">
						Campeonato de Yu-Gi-Oh!</h5>
					<p class="card-text">
						Os duelos de cartas estão de volta! <br> <br>
						Participe do campeonato de Yu-Gi-Oh! e mostre suas habilidades.
					</p>

					<a class="btn btn-white purple" href="" role="button">
						Formulário de Inscrição
						<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M8.06366 6.3999C7.42101 6.3999 6.90002 6.92089 6.90002 7.56354V18.0363C6.90002 18.6789 7.42101 19.1999 8.06366 19.1999H18.5364C19.1791 19.1999 19.7 18.6789 19.7 18.0363V13.9635C19.7 13.6422 19.4395 13.3817 19.1182 13.3817C18.7969 13.3817 18.5364 13.6422 18.5364 13.9635V18.0363H8.06366V7.56354H12.1364C12.4577 7.56354 12.7182 7.30305 12.7182 6.98172C12.7182 6.66039 12.4577 6.3999 12.1364 6.3999H8.06366ZM19.5297 6.57032C19.5854 6.6261 19.6275 6.69039 19.6559 6.75901C19.6839 6.8266 19.6996 6.90062 19.7 6.97823V6.98172V10.4726C19.7 10.794 19.4395 11.0544 19.1182 11.0544C18.7969 11.0544 18.5364 10.794 18.5364 10.4726V8.38636L12.5478 14.3749C12.3206 14.6022 11.9522 14.6022 11.725 14.3749C11.4978 14.1477 11.4978 13.7793 11.725 13.5521L17.7136 7.56354H15.6273C15.306 7.56354 15.0455 7.30305 15.0455 6.98172C15.0455 6.66039 15.306 6.3999 15.6273 6.3999H19.1181C19.197 6.3999 19.2723 6.4156 19.3409 6.44405C19.4096 6.47244 19.4738 6.51453 19.5297 6.57032Z"
								fill="#5B15B5" />
						</svg>
					</a>
				</div>
			</div>

			<div class="event-card">
				<div class="info">
					<h5 class="title">
						Fique ligado!</h5>
					<p class="card-text">
						As programações contam com <strong>vagas limitadas!</strong> <br> <br>
						Portanto, pode ser que ao acessar o Formulário de Inscrição de uma determinada atividade, não
						seja mais possível se inscrever.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="partners-holder justify-content-center align-items-center flex-column"
		style="display: flex; width: 100%; margin-bottom: 150px;">
		<h5 class="card-title about-title text-purple">Apoio e Patrocínio</h5>
		<div class="partners">
			<img src="assets/partners/easy.svg" style="width: 150px;">
			<img src="assets/partners/edge.svg" style="width: 150px;">
			<img src="assets/partners/ic.svg" style="width: 150px;">
			<img src="assets/partners/lacast.svg" style="width: 150px;">
			<img src="assets/partners/lacomp.svg" style="width: 150px;">
			<img src="assets/partners/nees.svg" style="width: 150px;">
			<img src="assets/partners/hokutou.png" style="width: 150px;">
			<img src="assets/partners/ichess.svg"
				alt="IChess - O grupo de extensão de xadrez do Instituto de Computação" style="height: 150px;">
			<img src="assets/partners/clube-xadrez.png" style="width: 150px;">
			<img src="assets/partners/diacom.png" style="width: 150px;">
		</div>

		<p>Agradecemos a todos os nossos parceiros por sua contribuição para que a SECOMP 2024 fosse possível.
			💜</p>
	</section>

	<app-footer></app-footer>
</div>