<div class="page">
	<app-menu></app-menu>

	<div class="header-homepage text-white w-100 ">
		<div class="inverse-vignette"></div>
		<div class="container-fluid header-homepage-card text-center">
			<h1 class="card-title header-title">Aprender. Programar. Evoluir.</h1>
			<p class="card-text">
				A Liga Acadêmica de Computação realiza a sexta edição da SECOMP, um evento público que promove a integração e a troca de conhecimento entre a comunidade de tecnologia de Alagoas.
			</p>
			<a class="btn btn-white" href="/inscricao" role="button">
				Quero me inscrever!
			</a>
		</div>
	</div>

	<div class="card container-fluid homepage-info-card">
		<div class="card-group text-center justify-content-center">
			<div class="card">
				<span class="material-icons md-21 py-1 text-green">confirmation_number</span>
				<div class="card-body">
					<h5 class="card-title card-info-title">Evento gratuito</h5>
					<p class="card-text">3 dias de evento, com palestras, minicursos, jogos, rodas de conversa e tudo
						isso sem
						cobrar nada!</p>
				</div>
			</div>
			<div class="card">
				<span class="material-icons md-21 py-1 text-green">location_on</span>
				<div class="card-body">
					<h5 class="card-title card-info-title">Onde será?</h5>
					<p class="card-text">Instituto de Computação, Universidade Federal de Alagoas.</p>
				</div>
			</div>
			<div class="card">
				<span class="material-icons md-21 py-1 text-green">calendar_month</span>
				<div class="card-body">
					<h5 class="card-title card-info-title">Data e horários</h5>
					<p class="card-text">Entre os dias 06/11 e 08/11, durante as manhãs e tardes.</p>
				</div>
			</div>
		</div>
	</div>

	<section style="margin-block: 100px;">
		<div class="spacing about">
			<div class="row justify-content-center">
				<div class="col-md-4">
					<div class="card-body">
						<h5 class="card-title about-title text-purple">O maior evento acadêmico de tecnologia de Alagoas</h5>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card-body">
						<p class="card-text w-75 about-subtitle">
							A Secomp é um evento que conecta líderes e profissionais inovadores para troca de conhecimento e networking.
							De 6 a 8 de novembro, recebemos grandes nomes da tecnologia de Alagoas para compartilhar ideias e discutir
							as principais tendências do setor. Venha participar dessa experiência!
						</p>
						<a class="btn btn-green text-white" href="/inscricao" role="button">
							Quero me inscrever!
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="partners-holder justify-content-center align-items-center flex-column"
		style="display: flex; width: 100%; margin-bottom: 150px;">
		<h5 class="card-title about-title text-purple">Apoio e Patrocínio</h5>
		<div class="partners">
			<img src="assets/partners/edge.svg" style="width: 150px;">
			<img src="assets/partners/ic.svg" style="width: 150px;">
			<img src="assets/partners/lacast.svg" style="width: 150px;">
			<img src="assets/partners/lacomp.svg" style="width: 150px;">
			<img src="assets/partners/nees.svg" style="width: 150px;">
			<img src="assets/partners/hokutou.png" style="width: 150px;">
		</div>

		<p>Agradecemos a todos os nossos parceiros por sua contribuição para que a SECOMP 2024 fosse possível.
			💜</p>
	</section>

	<app-footer></app-footer>
</div>