.card{
    border: 0 !important;
}

.header-homepage .card{
    border-radius: 0!important;
}

.centering{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-homepage{
    background-image: url("../../../assets/images/event2.png");
    filter: brightness(1.2);
    border-bottom: 6px solid #66C0A1;
    height: 35rem;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.header-homepage-card {
    margin-top: 10em;
    width: 50%;
}

.header-title{
    font-family: 'MuseoModerno', cursive;
    font-size: 3.5em;
}

.homepage-info-card{
    padding: 30px;
    color: #545454;
    font-weight: 400;
    font-size: .95em; 
    width: 65%;
    margin-top: -6em;
    box-shadow: 0.1em 0.4em 1em #d7d7d79e;
}

.secomp2019img{
    width: 85%;
    border-bottom-left-radius: 4rem;
    border-top-right-radius: 4rem;
}

.card-info-title{
    color: #3f00ff;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 600;
}

.about-title {
    text-align: right;
}

section .card-title{
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 1em;
}

section p{
    line-height: 1.8em;
}

@media (max-width: 768px)
{
    .header-title {
        font-size: 2.5em;
    }
    
    .header-homepage-card {
        margin-top: 10em;
        width: 100%;
    }

    .homepage-info-card{
        width: 90%;
    }

    .about, .about-title {
        text-align: center !important;
    }

    .about-subtitle {
        width: 100% !important;
        text-align: center;
    }
    
    section .card-title{
        margin-bottom: 0;
    }

}