<div class="page">
    <app-menu></app-menu>

    <div class="header-homepage text-white w-100 ">
        <div class="container-fluid header-homepage-card text-center">
          <h1 class="card-title header-title">Conectar. Aprender. Crescer.</h1>
          <p class="card-text">Aproveite as presenças de palestrantes 
            visionários, amplie sua rede de contatos conhecendo participantes influentes e muito mais!
          </p>
          <a class="btn btn-white"
          href="http://doity.com.br/secomp23" 
          role="button">
          Quero me inscrever!
       </a>
        </div>
    </div>
    
    <div class="card container-fluid homepage-info-card">
        <div class="card-group text-center justify-content-center">
          <div class="card">
            <span class="material-icons md-21 py-1 text-green">confirmation_number</span>
            <div class="card-body">
              <h5 class="card-title card-info-title">Evento gratuito</h5>
              <p class="card-text">5 dias de evento, com palestras, minicursos, jogos, rodas de conversa e tudo isso sem cobrar nada!</p>
            </div>
          </div>
          <div class="card">
            <span class="material-icons md-21 py-1 text-green">location_on</span>
            <div class="card-body">
              <h5 class="card-title card-info-title">Onde será?</h5>
              <p class="card-text">Instituto de Computação, Universidade Federal de Alagoas.</p>
            </div>
          </div>
          <div class="card">
            <span class="material-icons md-21 py-1 text-green">calendar_month</span>
            <div class="card-body">
              <h5 class="card-title card-info-title">Data e horários</h5>
              <p class="card-text">Entre os dias 18/09 e 22/09, durante as manhãs e tardes.</p>
            </div>
          </div>
        </div>
    </div>

    <section>
      <div class="spacing about">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title about-title text-purple">Sobre a Secomp</h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <p class="card-text w-75 about-subtitle">
                A Secomp é o lugar onde líderes e pessoas inovadoras se reúnem para compartilhar conhecimentos, se inspirar e fazer 
                networking. Temos orgulho em receber algumas das vozes mais conhecidas e influentes da tecnologia de Alagoas.
                Entre os dias 18 à 22 de setembro, você está convidado a embarcar nessa experiência única!
              </p>
              <a class="btn btn-green text-white"
                 href="http://doity.com.br/secomp23" 
                 role="button">
                 Quero me inscrever!
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--
    <section style="background-color: #5b15b6;">
      <div class="spacing minicursos">
        <div class="row minicursos-title"><strong class="text-center">Minicursos</strong></div>

        <div class="container text-center">
          <div class="row">
            <div class="col-sm">
              <div class="card minicurso-card">
                <div class="card-body">
                  <h5 class="card-title">Introdução à Web</h5>
                  <h6 class="card-subtitle mb-2 text-green">Dia 21 às 11:00 e Dia 22 às 09:00</h6>
                  <p class="card-text">Introdução dos conceitos iniciais da área de desenvolvimento web. Linguagens HTML, CSS e Javascript.</p>
                  <a class="btn btn-green text-white"
                  href="https://doity.com.br/minicurso-web" 
                  role="button">
                  Quero me inscrever!
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="col-sm">
                <div class="card minicurso-card">
                  <div class="card-body">
                    <h5 class="card-title">Ciência de Dados</h5>
                    <h6 class="card-subtitle mb-2 text-green">Dias 22 e 23 às 14:00</h6>
                    <p class="card-text">Será elaborado um projeto de Ciência de Dados seguindo boas práticas e explorando os passos necessários para chegar aos resultados.</p>
                    <a class="btn btn-green text-white"
                    href="https://doity.com.br/minicurso-ciencia-de-dados" 
                    role="button">
                    Quero me inscrever!
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="col-sm">
                <div class="card minicurso-card">
                  <div class="card-body">
                    <h5 class="card-title">Coloração de Grafos</h5>
                    <h6 class="card-subtitle mb-2 text-green">Dias 21 e 23 às 14:00</h6>
                    <br>
                    <p class="card-text">Serão apresentados métodos, técnicas e teorias acerca da coloração de grafos.</p>
                    <br>
                    <a class="btn btn-green text-white"
                    href="https://doity.com.br/minicurso-coloracao-dos-grafos" 
                    role="button">
                    Quero me inscrever!
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row mt-5">
            <div class="col-sm">
              <div class="card minicurso-card">
                <div class="card-body">
                  <h5 class="card-title">Flutter Iniciante</h5>
                  <h6 class="card-subtitle mb-2 text-green">Dia 22 às 09:00</h6>
                  <p class="card-text">Serão abordados os conceitos introdutórios de Flutter, um dos principais frameworks para desenvolvimento de aplicações mobile.</p>
                  <a class="btn btn-green text-white"
                  href="https://doity.com.br/minicurso-flutter-iniciante" 
                  role="button">
                  Quero me inscrever!
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="col-sm">
                <div class="card minicurso-card">
                  <div class="card-body">
                    <h5 class="card-title">Flutter Intermediário</h5>
                    <h6 class="card-subtitle mb-2 text-green">Dia 24 às 13:00</h6>
                    <br>
                    <p class="card-text">Serão abordados conceitos intermediários de Flutter, é necessário ter um conhecimento prévio.</p>
                    <br>
                    <a class="btn btn-green text-white"
                    href="https://doity.com.br/minicurso-flutter-intermediario" 
                    role="button">
                    Quero me inscrever!
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="col-sm">
                <div class="card minicurso-card">
                  <div class="card-body">
                    <h5 class="card-title"> Introdução ao KDD e ao CRISP-DM</h5>
                    <h6 class="card-subtitle mb-2 text-green">Dia 24 às 09:00</h6>
                    <p class="card-text">Irá abordar os conceitos de KDD e CRISP-DM, principais técnicas de mineração de dados.</p>
                    <a class="btn btn-green text-white"
                    href="https://doity.com.br/minicurso-introducao-ao-kdd-e-ao-crisp-dm" 
                    role="button">
                    Quero me inscrever!
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row mt-5">
            <div class="col-sm">
              <div class="card minicurso-card">
                <div class="card-body">
                  <h5 class="card-title">Packet Tracer</h5>
                  <h6 class="card-subtitle mb-2 text-green">Dia 25 às 09:00</h6>
                  <p class="card-text">Uma abordagem de redes de computadores utilizando o programa Packet Tracer, da empresa Cisco. Este curso é uma parceria da SECOMP com o AcHa.
                  </p>
                  <a class="btn btn-green text-white"
                  href="https://doity.com.br/minicurso-packet-tracer-acha" 
                  role="button">
                  Quero me inscrever!
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="col-sm">
                <div class="card minicurso-card">
                  <div class="card-body">
                    <h5 class="card-title">Simulação de Robôs</h5>
                    <h6 class="card-subtitle mb-2 text-green">Dias 22 e 23 às 09:00</h6><br>
                    <p class="card-text">Será elaborado um projeto de braço robótico no CoppeliaSim, software simulador de robôs.</p>
                    <a class="btn btn-green text-white"
                    href="https://doity.com.br/minicurso--simulacao-de-robos" 
                    role="button">
                    Quero me inscrever!
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="col-sm">
                <div class="card minicurso-card">
                  <div class="card-body">
                    <h5 class="card-title">Arduino</h5>
                    <h6 class="card-subtitle mb-2 text-green">Dia 22 às 14:00</h6>
                    <br><p class="card-text">Será abordado os conceitos básicos para a utilização do Arduino, uma plataforma de prototipagem eletrônica.
                    </p><br>
                    <a class="btn btn-green text-white"
                    href="https://doity.com.br/minicurso--arduino" 
                    role="button">
                    Quero me inscrever!
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row mt-5">
            <div class="col-sm">
              <div class="card minicurso-card">
                <div class="card-body">
                  <h5 class="card-title"> Introdução ao LaTeX </h5>
                  <h6 class="card-subtitle mb-2 text-green">Dia 25 às 10:00</h6>
                  <p class="card-text">Uma abordagem aos conceitos básicos de LaTeX, um sistema de elaboração de documentos. É uma parceria do grupo Katie com a SECOMP.</p>
                  <a class="btn btn-green text-white"
                  href="https://doity.com.br/minicurso--latex" 
                  role="button">
                  Quero me inscrever!
                  </a>
                </div>
              </div>
            </div>

            <div class="col-sm">
              <div class="card minicurso-card">
                <div class="card-body">
                  <h5 class="card-title"> Workshop de Xadrez </h5>
                  <h6 class="card-subtitle mb-2 text-green">Dia 24 às 13:30</h6>
                  <br>
                  <p class="card-text">Serão abordadas técnicas e teorias acerca do xadrez. Este Workshop é uma parceria da SECOMP com as atléticas Octacore e Matemaníacos.</p>
                  <a class="btn btn-green text-white"
                  href="https://doity.com.br/workshop-de-xadrez" 
                  role="button">
                  Quero me inscrever!
                  </a>
                </div>
              </div>
            </div>

            <div class="col-sm">
              <div class="col-sm">
                <div class="card" style="width: 18rem; background-color: #5b15b6;">
                  <div class="card-body">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    -->
    
    <app-footer></app-footer>
</div>