.card {
    border: 0 !important;
}

.header-homepage .card {
    border-radius: 0 !important;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header-homepage {
    background-image: url("../../../assets/images/banner2.png");
    background-position: 0% 20%;
    border-bottom: 6px solid #7ce5c1;
    background-size: cover;
    padding-bottom: 10rem;
    position: relative;
    overflow: hidden;
}

.header-homepage-card {
    margin-top: 5em;
    width: 50%;
}

.header-title {
    font-family: 'MuseoModerno', cursive;
    font-size: 3.5em;
}

.homepage-info-card {
    padding: 30px;
    color: #545454;
    font-weight: 400;
    font-size: .95em;
    width: 65%;
    margin-top: -6em;
    box-shadow: 0.1em 0.4em 1em #d7d7d75f;
}

.secomp2019img {
    width: 85%;
    border-bottom-left-radius: 4rem;
    border-top-right-radius: 4rem;
}

.card-info-title {
    color: #5B15B5;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 600;
}

.about-title {
    text-align: right;
}

.minicursos {
    color: #fff;
}

.minicursos-title {
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 40px;
    font-size: 2rem;
}

.minicursos .card-title {
    font-size: 2em;
}

.minicursos .container {
    padding: 0;
}

.minicurso-card {
    width: 18rem;
    background-color: #742ece;
}

section .card-title {
    font-weight: 800;
    font-size: 3em;
}

section p {
    line-height: 1.8em;
}

.partners-holder {
    gap: 3.5rem;
    padding-inline: 3.5rem;
}

.partners-holder p {
    max-width: 50%;
    padding-inline: 2rem;
    margin-top: 3rem;
    text-align: center;
}

.partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-inline: 5rem;
    gap: 5rem;
}

@media (max-width: 768px) {
    .header-title {
        font-size: 2.5em;
    }

    .header-homepage-card {
        width: 75%;
    }

    .homepage-info-card {
        width: 90%;
    }

    .about,
    .about-title {
        text-align: center !important;
    }

    .about-subtitle {
        width: 100% !important;
        text-align: center;
    }

    .minicurso-card {
        margin-top: 3rem;
    }

    .col-sm {
        padding: 0;
    }

    .partners-holder {
        padding-inline: 0px
    }

    .partners-holder p {
        max-width: 100%;
    }
}